* {
    padding:0px;
    margin: 0px;
    /* If you add padding, the element won't get bigger using border box */
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    /* Fixed both side */
    overflow-x: hidden;
}
.main {
    background-repeat: no-repeat;
    background: linear-gradient(rgba(24, 24, 24, 0.9),rgba(22, 22, 22, 0.3)),url(Background.jpg);
    background-position: center;
    /* Set height to full screen */
    height: 100vh;
    /* Resize image to cover the container */
    background-size: cover;
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 40px;
}

.logo {
    color:rgb(255, 255, 255);
    font-size: 38px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 23px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(248, 55, 55);
    transition: .5s;
}

.About {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-family: 'futura_m';
    font-size: 6.9rem;
    letter-spacing: 0.1em;
    color: aqua;
}

p{
    letter-spacing: 0.1em;
    font-size: 30px;
}

#greeting-container {
  margin-top: 20px;
}

#quote-container {
    width: 500px;
    color: white;
}

img {
    width: 530px;
    height: 530px;
    object-fit: cover;
    border-radius: 50%;
    padding: 8px;
    background-color: lightblue;
    position: absolute;
    top: 20%;
    left: 55%;
}

#Button {
    width: 300px;
    position: relative;
    left: 8%;
    top: 53%;
    color: white;
}

#Button button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: aqua;
    color: black;
}
